<h1>1</h1>
<h2>2</h2>
<h3>3</h3>
<h4>4</h4>
<h5>5</h5>
<h6>6</h6>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione fugit, quasi culpa neque corrupti laboriosam officiis sint explicabo? Voluptatibus, quaerat.</p>
<span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt mollitia, unde quam suscipit sed porro quod quas maxime libero pariatur!</span>
<p>{{title}} this is a title string</p><br>
<p *ngIf="true">{{title}}</p>
<p *ngfor></p>
<router-outlet></router-outlet>